section#posts {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    justify-self: center;
    width: 80%;
}

.card {
    align-items: center;
    background-color: var(--polaroid-background-color);
    border: 1px solid #888;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: var(--polaroid-height);
    user-select: none;
    width: var(--polaroid-width);
}

.card figcaption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: var(--polaroid-margin-top);
    min-height: var(--polaroid-photo-size);
    width: var(--polaroid-photo-size);
}

.card-body * {
    background-repeat: no-repeat;
    background-size: var(--icon-size);
    filter: drop-shadow(0 0 0.5rem var(--polaroid-background-color));
    font-size: calc(var(--icon-size) * 0.75);
    font-weight: bold;
    height: var(--icon-size);
    line-height: var(--icon-size);
}

.card-top,
.card-bottom {
    display: flex;
    justify-content: space-between;
}

.cook-time-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    stroke: currentcolor;
    vertical-align: bottom;
}

/* The difficulty and status will not be displayed for now */
.difficulty,
.status {
    display: none;
}

#profile {
    stroke: #fff;
    cursor: pointer;
    display: flex;
    filter: drop-shadow(0 0 0.5rem #888);
    height: 2.5em;
    width: 2.5em;
}

/* Pseudo-classes */

.card:hover {
    filter: brightness(1.1);
    transform: rotate(2deg);
}

.cook-time::after {
    content: "'";
}
