section#posts {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    justify-self: center;
    width: 80%;
}

.author {
    bottom: 0;
}

.card {
    align-items: center;
    background-color: var(--polaroid-background-color);
    border: 1px solid #000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: var(--polaroid-height);
    width: var(--polaroid-width);
}

.card figcaption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: var(--polaroid-margin-top);
    min-height: var(--polaroid-photo-size);
    width: var(--polaroid-photo-size);
}

.card-body * {
    background-repeat: no-repeat;
    background-size: var(--icon-size);
    filter: drop-shadow(0 0 0.5rem light-dark(#fff, #000));
    font-size: calc(var(--icon-size) * 0.75);
    font-weight: bold;
    height: var(--icon-size);
    line-height: var(--icon-size);
}

.card-top,
.card-bottom {
    display: flex;
    justify-content: space-between;
}

.cook-time {
    background-image: url("../image/ci--clock.svg");
    padding-left: calc(var(--icon-size) * 1.1);
}

/* The difficulty will not be displayed for now */
.difficulty {
    display: none;
}

/* Pseudo-classes */

.cook-time::after {
    content: "'";
}
