:root {
    color-scheme: light dark;

    --icon-size: 2rem;
    --polaroid-width: 332px;
    --polaroid-height: 404px;
    --polaroid-photo-size: 298px;
    --polaroid-background-color: light-dark(#e9e9e9, #161616);
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transition-duration: .5s;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100svh;
    justify-content: center;
}

main {
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

script {
    display: none;
}

footer,
header {
    background-color: rgb(0 0 0 / 30%);
    display: flex;
    justify-content: center;
    width: 100%;
}
