/* Modal close button */
#modal-close {
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: xx-large;
    height: 2.5rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.5rem;
}

/* Modal box */
#modal-box {
    background-color: #000;
    border-radius: 15px;
    box-shadow: #fff 0 0 10px;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "modal-top modal-top"
        "modal-left modal-right";
    height: 75%;
    width: 50%;
    overflow-y: auto;
    padding: 1em;
    position: relative;
}

/* Container */
#modal-container {
    align-items: center;
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    width: 100%;
}

/* Top section */
#modal-top {
    grid-area: modal-top;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

/* Left section */
#modal-left {
    grid-area: modal-left;
    padding: 20px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Right section */
#modal-right {
    grid-area: modal-right;
    padding: 20px;
}
