.markdown {
    margin-bottom: var(--spacing-medium);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    border-bottom: 1px solid #e1e4e8;
    padding-bottom: 0.3em;
    font-size: var(--font-size-body);
    font-weight: bold;
    margin-bottom: var(--spacing-small);
    margin-top: var(--spacing-medium);
}

.markdown h1 {
    font-size: var(--font-size-heading);
    text-align: center;
}

.markdown h2 {
    font-size: var(--font-size-title);
}

.markdown ul {
    margin-left: var(--spacing-medium);
}

.markdown strong {
    text-decoration: underline;
}
